<!DOCTYPE html>
<html lang="en">
    <head>
        {%load static%}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Landing Page - Start Bootstrap Theme</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{%static 'AppProductos/css/styles.css'%}" rel ="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container1-xl">
                    <a class="navbar-brand" href="{% url 'Inicio' %}">Marketplace</a>
                <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'productos' %}">ingreso de productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cliente' %}">ingreso de clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'stock' %}">ingreso de stock</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Ver lista de 
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="{%url 'List_producto'%}">productos</a></li>
                    <li><a class="dropdown-item" href="{%url 'List_cliente'%}">clientes</a></li>
                    <li><a class="dropdown-item" href="{%url 'List_stock'%}">stock</a></li>
                </ul>
            </li>
            </ul>
        </di v>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Busqueda de  
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="{% url 'busqueda_producto' %}">busqueda producto</a></li>
                <li><a class="dropdown-item" href="{% url 'busqueda_cliente' %}">busqueda cliente</a></li>
                <li><a class="dropdown-item" href="{% url 'busqueda_stock' %}">busqueda por codigo</a></li>
            </ul>
        </li>
        </ul>
    </div>
        </nav>
        <!-- Masthead-->
       
        {% block contenidoQueCambia %}


        {% endblock %}


        <!-- Footer-->
        
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
