{% extends "AppProductos/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}


    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    <h1 style="color: rgb(228, 55, 150);" 
        >carga de Stock</h1>
    

    <p> 
        ingresar Precio y codigo 
    </p>
    Ingresar un producto:
    <br>
    <form action=""    method="post">{% csrf_token %}
        <table>
            {{miFormulario.as_table}}
        </table>
        <input type="submit",value="Enviar">
     </form>


{% endblock %}